<div id="tsf-nav">
  <div class="tsf-prev-month">
    <%= link_to 'Previous', :controller=>'archives', :action=>'index', :year=>@tsfdate.prev_month.year, :month=>@tsfdate.prev_month.month %>
  </div>
  <div class="tsf-next-month">
    <%= link_to 'Next', :controller=>'archives', :action=>'index', :year=>@tsfdate.next_month.year, :month=>@tsfdate.next_month.month %>
  </div>
  <div class="tsf-date">
    <%= @tsfdate.strftime("%B") %>
  </div>
</div>

<div id="tsf-calendar">
  <% unless @photos.nil? %>
    <%= render :partial => "photos" %>
  <% end %>
</div>
